
* {
    margin: 0;
    padding: 0;
    
}


#header{
    background-color: rgb(2, 36, 68);
    text-align: center;
    color: white;
    height: 80px;
    vertical-align: middle;
    margin-bottom: 50px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#map{
    float:left; 
    width:60%;
    height: 550px;

    margin-bottom: 50px;
}


#map-txt{
text-align: left;
color: rgb(2, 36, 68);
font-family: Arial, Helvetica, sans-serif;

}

#right{
    float:right; 
    width:40%;
    height: 550px;
    text-align: center;

    margin-bottom: 50px;



}

#right h3{
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(2, 36, 68);
    font-family: 'Courier New', Courier, monospace;
}


#bar{

    width: 100%;
    align-content: center;
    align-items: center;
    padding-left: 20%;

    margin-top: 50px;

}

