
*{
    margin: 0;

}


#main{
    width: 60%;
    background-color: rgb(190, 190, 207);
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    height: 100%;
}

#header{
    width: 100%;
    background-color: rgb(142, 124, 163);
    height: 17%;
    text-align: center;
}

#second{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#line{
   padding-top: 20px;
}

#third{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#map{
   padding-top: 20px;
}

#fourth{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#bar{
   padding-top: 20px;
}

#fifth{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#donut{
   padding-top: 20px;
}

#footer{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
}
